.px-0-125 { padding-left: 0.125rem; padding-right: 0.125rem; }
.px-0-25 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-0-375 { padding-left: 0.375rem; padding-right: 0.375rem; }
.px-0-5 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-0-75 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-1 { padding-left: 1rem; padding-right: 1rem; }
.px-1-5 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-3 { padding-left: 3rem; padding-right: 3rem; }
.px-4 { padding-left: 4rem; padding-right: 4rem; }
.py-0-125 { padding-top: 0.125rem; padding-bottom: 0.125rem; }
.py-0-25 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-0-375 { padding-top: 0.375rem; padding-bottom: 0.375rem; }
.py-0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-0-75 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-1 { padding-top: 1rem; padding-bottom: 1rem; }
.py-1-5 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-3 { padding-top: 3rem; padding-bottom: 3rem; }
.py-4 { padding-top: 4rem; padding-bottom: 4rem; }
.pl-0-125 { padding-left: 0.125rem; }
.pl-0-25 { padding-left: 0.25rem; }
.pl-0-375 { padding-left: 0.375rem; }
.pl-0-5 { padding-left: 0.5rem; }
.pl-0-75 { padding-left: 0.75rem; }
.pl-1 { padding-left: 1rem; }
.pl-1-5 { padding-left: 1.5rem; }
.pl-3 { padding-left: 3rem; }
.pl-4 { padding-left: 4rem; }
.pr-0-125 { padding-right: 0.125rem; }
.pr-0-25 { padding-right: 0.25rem; }
.pr-0-375 { padding-right: 0.375rem; }
.pr-0-5 { padding-right: 0.5rem; }
.pr-0-75 { padding-right: 0.75rem; }
.pr-1 { padding-right: 1rem; }
.pr-1-5 { padding-right: 1.5rem; }
.pr-3 { padding-right: 3rem; }
.pr-4 { padding-right: 4rem; }
.pt-0-125 { padding-top: 0.125rem; }
.pt-0-25 { padding-top: 0.25rem; }
.pt-0-375 { padding-top: 0.375rem; }
.pt-0-5 { padding-top: 0.5rem; }
.pt-0-75 { padding-top: 0.75rem; }
.pt-1 { padding-top: 1rem; }
.pt-1-5 { padding-top: 1.5rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pb-0-125 { padding-bottom: 0.125rem; }
.pb-0-25 { padding-bottom: 0.25rem; }
.pb-0-375 { padding-bottom: 0.375rem; }
.pb-0-5 { padding-bottom: 0.5rem; }
.pb-0-75 { padding-bottom: 0.75rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-1-5 { padding-bottom: 1.5rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }
@media (min-width: 640px) { .sm:px-0-125 { padding-left: 0.125rem; padding-right: 0.125rem; } }
@media (min-width: 640px) { .sm:px-0-25 { padding-left: 0.25rem; padding-right: 0.25rem; } }
@media (min-width: 640px) { .sm:px-0-375 { padding-left: 0.375rem; padding-right: 0.375rem; } }
@media (min-width: 640px) { .sm:px-0-5 { padding-left: 0.5rem; padding-right: 0.5rem; } }
@media (min-width: 640px) { .sm:px-0-75 { padding-left: 0.75rem; padding-right: 0.75rem; } }
@media (min-width: 640px) { .sm:px-1 { padding-left: 1rem; padding-right: 1rem; } }
@media (min-width: 640px) { .sm:px-1-5 { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (min-width: 640px) { .sm:px-3 { padding-left: 3rem; padding-right: 3rem; } }
@media (min-width: 640px) { .sm:px-4 { padding-left: 4rem; padding-right: 4rem; } }
@media (min-width: 640px) { .sm:py-0-125 { padding-top: 0.125rem; padding-bottom: 0.125rem; } }
@media (min-width: 640px) { .sm:py-0-25 { padding-top: 0.25rem; padding-bottom: 0.25rem; } }
@media (min-width: 640px) { .sm:py-0-375 { padding-top: 0.375rem; padding-bottom: 0.375rem; } }
@media (min-width: 640px) { .sm:py-0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; } }
@media (min-width: 640px) { .sm:py-0-75 { padding-top: 0.75rem; padding-bottom: 0.75rem; } }
@media (min-width: 640px) { .sm:py-1 { padding-top: 1rem; padding-bottom: 1rem; } }
@media (min-width: 640px) { .sm:py-1-5 { padding-top: 1.5rem; padding-bottom: 1.5rem; } }
@media (min-width: 640px) { .sm:py-3 { padding-top: 3rem; padding-bottom: 3rem; } }
@media (min-width: 640px) { .sm:py-4 { padding-top: 4rem; padding-bottom: 4rem; } }
@media (min-width: 640px) { .sm:pl-0-125 { padding-left: 0.125rem; } }
@media (min-width: 640px) { .sm:pl-0-25 { padding-left: 0.25rem; } }
@media (min-width: 640px) { .sm:pl-0-375 { padding-left: 0.375rem; } }
@media (min-width: 640px) { .sm:pl-0-5 { padding-left: 0.5rem; } }
@media (min-width: 640px) { .sm:pl-0-75 { padding-left: 0.75rem; } }
@media (min-width: 640px) { .sm:pl-1 { padding-left: 1rem; } }
@media (min-width: 640px) { .sm:pl-1-5 { padding-left: 1.5rem; } }
@media (min-width: 640px) { .sm:pl-3 { padding-left: 3rem; } }
@media (min-width: 640px) { .sm:pl-4 { padding-left: 4rem; } }
@media (min-width: 640px) { .sm:pr-0-125 { padding-right: 0.125rem; } }
@media (min-width: 640px) { .sm:pr-0-25 { padding-right: 0.25rem; } }
@media (min-width: 640px) { .sm:pr-0-375 { padding-right: 0.375rem; } }
@media (min-width: 640px) { .sm:pr-0-5 { padding-right: 0.5rem; } }
@media (min-width: 640px) { .sm:pr-0-75 { padding-right: 0.75rem; } }
@media (min-width: 640px) { .sm:pr-1 { padding-right: 1rem; } }
@media (min-width: 640px) { .sm:pr-1-5 { padding-right: 1.5rem; } }
@media (min-width: 640px) { .sm:pr-3 { padding-right: 3rem; } }
@media (min-width: 640px) { .sm:pr-4 { padding-right: 4rem; } }
@media (min-width: 640px) { .sm:pt-0-125 { padding-top: 0.125rem; } }
@media (min-width: 640px) { .sm:pt-0-25 { padding-top: 0.25rem; } }
@media (min-width: 640px) { .sm:pt-0-375 { padding-top: 0.375rem; } }
@media (min-width: 640px) { .sm:pt-0-5 { padding-top: 0.5rem; } }
@media (min-width: 640px) { .sm:pt-0-75 { padding-top: 0.75rem; } }
@media (min-width: 640px) { .sm:pt-1 { padding-top: 1rem; } }
@media (min-width: 640px) { .sm:pt-1-5 { padding-top: 1.5rem; } }
@media (min-width: 640px) { .sm:pt-3 { padding-top: 3rem; } }
@media (min-width: 640px) { .sm:pt-4 { padding-top: 4rem; } }
@media (min-width: 640px) { .sm:pb-0-125 { padding-bottom: 0.125rem; } }
@media (min-width: 640px) { .sm:pb-0-25 { padding-bottom: 0.25rem; } }
@media (min-width: 640px) { .sm:pb-0-375 { padding-bottom: 0.375rem; } }
@media (min-width: 640px) { .sm:pb-0-5 { padding-bottom: 0.5rem; } }
@media (min-width: 640px) { .sm:pb-0-75 { padding-bottom: 0.75rem; } }
@media (min-width: 640px) { .sm:pb-1 { padding-bottom: 1rem; } }
@media (min-width: 640px) { .sm:pb-1-5 { padding-bottom: 1.5rem; } }
@media (min-width: 640px) { .sm:pb-3 { padding-bottom: 3rem; } }
@media (min-width: 640px) { .sm:pb-4 { padding-bottom: 4rem; } }
@media (min-width: 768px) { .md:px-0-125 { padding-left: 0.125rem; padding-right: 0.125rem; } }
@media (min-width: 768px) { .md:px-0-25 { padding-left: 0.25rem; padding-right: 0.25rem; } }
@media (min-width: 768px) { .md:px-0-375 { padding-left: 0.375rem; padding-right: 0.375rem; } }
@media (min-width: 768px) { .md:px-0-5 { padding-left: 0.5rem; padding-right: 0.5rem; } }
@media (min-width: 768px) { .md:px-0-75 { padding-left: 0.75rem; padding-right: 0.75rem; } }
@media (min-width: 768px) { .md:px-1 { padding-left: 1rem; padding-right: 1rem; } }
@media (min-width: 768px) { .md:px-1-5 { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (min-width: 768px) { .md:px-3 { padding-left: 3rem; padding-right: 3rem; } }
@media (min-width: 768px) { .md:px-4 { padding-left: 4rem; padding-right: 4rem; } }
@media (min-width: 768px) { .md:py-0-125 { padding-top: 0.125rem; padding-bottom: 0.125rem; } }
@media (min-width: 768px) { .md:py-0-25 { padding-top: 0.25rem; padding-bottom: 0.25rem; } }
@media (min-width: 768px) { .md:py-0-375 { padding-top: 0.375rem; padding-bottom: 0.375rem; } }
@media (min-width: 768px) { .md:py-0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; } }
@media (min-width: 768px) { .md:py-0-75 { padding-top: 0.75rem; padding-bottom: 0.75rem; } }
@media (min-width: 768px) { .md:py-1 { padding-top: 1rem; padding-bottom: 1rem; } }
@media (min-width: 768px) { .md:py-1-5 { padding-top: 1.5rem; padding-bottom: 1.5rem; } }
@media (min-width: 768px) { .md:py-3 { padding-top: 3rem; padding-bottom: 3rem; } }
@media (min-width: 768px) { .md:py-4 { padding-top: 4rem; padding-bottom: 4rem; } }
@media (min-width: 768px) { .md:pl-0-125 { padding-left: 0.125rem; } }
@media (min-width: 768px) { .md:pl-0-25 { padding-left: 0.25rem; } }
@media (min-width: 768px) { .md:pl-0-375 { padding-left: 0.375rem; } }
@media (min-width: 768px) { .md:pl-0-5 { padding-left: 0.5rem; } }
@media (min-width: 768px) { .md:pl-0-75 { padding-left: 0.75rem; } }
@media (min-width: 768px) { .md:pl-1 { padding-left: 1rem; } }
@media (min-width: 768px) { .md:pl-1-5 { padding-left: 1.5rem; } }
@media (min-width: 768px) { .md:pl-3 { padding-left: 3rem; } }
@media (min-width: 768px) { .md:pl-4 { padding-left: 4rem; } }
@media (min-width: 768px) { .md:pr-0-125 { padding-right: 0.125rem; } }
@media (min-width: 768px) { .md:pr-0-25 { padding-right: 0.25rem; } }
@media (min-width: 768px) { .md:pr-0-375 { padding-right: 0.375rem; } }
@media (min-width: 768px) { .md:pr-0-5 { padding-right: 0.5rem; } }
@media (min-width: 768px) { .md:pr-0-75 { padding-right: 0.75rem; } }
@media (min-width: 768px) { .md:pr-1 { padding-right: 1rem; } }
@media (min-width: 768px) { .md:pr-1-5 { padding-right: 1.5rem; } }
@media (min-width: 768px) { .md:pr-3 { padding-right: 3rem; } }
@media (min-width: 768px) { .md:pr-4 { padding-right: 4rem; } }
@media (min-width: 768px) { .md:pt-0-125 { padding-top: 0.125rem; } }
@media (min-width: 768px) { .md:pt-0-25 { padding-top: 0.25rem; } }
@media (min-width: 768px) { .md:pt-0-375 { padding-top: 0.375rem; } }
@media (min-width: 768px) { .md:pt-0-5 { padding-top: 0.5rem; } }
@media (min-width: 768px) { .md:pt-0-75 { padding-top: 0.75rem; } }
@media (min-width: 768px) { .md:pt-1 { padding-top: 1rem; } }
@media (min-width: 768px) { .md:pt-1-5 { padding-top: 1.5rem; } }
@media (min-width: 768px) { .md:pt-3 { padding-top: 3rem; } }
@media (min-width: 768px) { .md:pt-4 { padding-top: 4rem; } }
@media (min-width: 768px) { .md:pb-0-125 { padding-bottom: 0.125rem; } }
@media (min-width: 768px) { .md:pb-0-25 { padding-bottom: 0.25rem; } }
@media (min-width: 768px) { .md:pb-0-375 { padding-bottom: 0.375rem; } }
@media (min-width: 768px) { .md:pb-0-5 { padding-bottom: 0.5rem; } }
@media (min-width: 768px) { .md:pb-0-75 { padding-bottom: 0.75rem; } }
@media (min-width: 768px) { .md:pb-1 { padding-bottom: 1rem; } }
@media (min-width: 768px) { .md:pb-1-5 { padding-bottom: 1.5rem; } }
@media (min-width: 768px) { .md:pb-3 { padding-bottom: 3rem; } }
@media (min-width: 768px) { .md:pb-4 { padding-bottom: 4rem; } }
@media (min-width: 1024px) { .lg:px-0-125 { padding-left: 0.125rem; padding-right: 0.125rem; } }
@media (min-width: 1024px) { .lg:px-0-25 { padding-left: 0.25rem; padding-right: 0.25rem; } }
@media (min-width: 1024px) { .lg:px-0-375 { padding-left: 0.375rem; padding-right: 0.375rem; } }
@media (min-width: 1024px) { .lg:px-0-5 { padding-left: 0.5rem; padding-right: 0.5rem; } }
@media (min-width: 1024px) { .lg:px-0-75 { padding-left: 0.75rem; padding-right: 0.75rem; } }
@media (min-width: 1024px) { .lg:px-1 { padding-left: 1rem; padding-right: 1rem; } }
@media (min-width: 1024px) { .lg:px-1-5 { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (min-width: 1024px) { .lg:px-3 { padding-left: 3rem; padding-right: 3rem; } }
@media (min-width: 1024px) { .lg:px-4 { padding-left: 4rem; padding-right: 4rem; } }
@media (min-width: 1024px) { .lg:py-0-125 { padding-top: 0.125rem; padding-bottom: 0.125rem; } }
@media (min-width: 1024px) { .lg:py-0-25 { padding-top: 0.25rem; padding-bottom: 0.25rem; } }
@media (min-width: 1024px) { .lg:py-0-375 { padding-top: 0.375rem; padding-bottom: 0.375rem; } }
@media (min-width: 1024px) { .lg:py-0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; } }
@media (min-width: 1024px) { .lg:py-0-75 { padding-top: 0.75rem; padding-bottom: 0.75rem; } }
@media (min-width: 1024px) { .lg:py-1 { padding-top: 1rem; padding-bottom: 1rem; } }
@media (min-width: 1024px) { .lg:py-1-5 { padding-top: 1.5rem; padding-bottom: 1.5rem; } }
@media (min-width: 1024px) { .lg:py-3 { padding-top: 3rem; padding-bottom: 3rem; } }
@media (min-width: 1024px) { .lg:py-4 { padding-top: 4rem; padding-bottom: 4rem; } }
@media (min-width: 1024px) { .lg:pl-0-125 { padding-left: 0.125rem; } }
@media (min-width: 1024px) { .lg:pl-0-25 { padding-left: 0.25rem; } }
@media (min-width: 1024px) { .lg:pl-0-375 { padding-left: 0.375rem; } }
@media (min-width: 1024px) { .lg:pl-0-5 { padding-left: 0.5rem; } }
@media (min-width: 1024px) { .lg:pl-0-75 { padding-left: 0.75rem; } }
@media (min-width: 1024px) { .lg:pl-1 { padding-left: 1rem; } }
@media (min-width: 1024px) { .lg:pl-1-5 { padding-left: 1.5rem; } }
@media (min-width: 1024px) { .lg:pl-3 { padding-left: 3rem; } }
@media (min-width: 1024px) { .lg:pl-4 { padding-left: 4rem; } }
@media (min-width: 1024px) { .lg:pr-0-125 { padding-right: 0.125rem; } }
@media (min-width: 1024px) { .lg:pr-0-25 { padding-right: 0.25rem; } }
@media (min-width: 1024px) { .lg:pr-0-375 { padding-right: 0.375rem; } }
@media (min-width: 1024px) { .lg:pr-0-5 { padding-right: 0.5rem; } }
@media (min-width: 1024px) { .lg:pr-0-75 { padding-right: 0.75rem; } }
@media (min-width: 1024px) { .lg:pr-1 { padding-right: 1rem; } }
@media (min-width: 1024px) { .lg:pr-1-5 { padding-right: 1.5rem; } }
@media (min-width: 1024px) { .lg:pr-3 { padding-right: 3rem; } }
@media (min-width: 1024px) { .lg:pr-4 { padding-right: 4rem; } }
@media (min-width: 1024px) { .lg:pt-0-125 { padding-top: 0.125rem; } }
@media (min-width: 1024px) { .lg:pt-0-25 { padding-top: 0.25rem; } }
@media (min-width: 1024px) { .lg:pt-0-375 { padding-top: 0.375rem; } }
@media (min-width: 1024px) { .lg:pt-0-5 { padding-top: 0.5rem; } }
@media (min-width: 1024px) { .lg:pt-0-75 { padding-top: 0.75rem; } }
@media (min-width: 1024px) { .lg:pt-1 { padding-top: 1rem; } }
@media (min-width: 1024px) { .lg:pt-1-5 { padding-top: 1.5rem; } }
@media (min-width: 1024px) { .lg:pt-3 { padding-top: 3rem; } }
@media (min-width: 1024px) { .lg:pt-4 { padding-top: 4rem; } }
@media (min-width: 1024px) { .lg:pb-0-125 { padding-bottom: 0.125rem; } }
@media (min-width: 1024px) { .lg:pb-0-25 { padding-bottom: 0.25rem; } }
@media (min-width: 1024px) { .lg:pb-0-375 { padding-bottom: 0.375rem; } }
@media (min-width: 1024px) { .lg:pb-0-5 { padding-bottom: 0.5rem; } }
@media (min-width: 1024px) { .lg:pb-0-75 { padding-bottom: 0.75rem; } }
@media (min-width: 1024px) { .lg:pb-1 { padding-bottom: 1rem; } }
@media (min-width: 1024px) { .lg:pb-1-5 { padding-bottom: 1.5rem; } }
@media (min-width: 1024px) { .lg:pb-3 { padding-bottom: 3rem; } }
@media (min-width: 1024px) { .lg:pb-4 { padding-bottom: 4rem; } }
@media (min-width: 1280px) { .xl:px-0-125 { padding-left: 0.125rem; padding-right: 0.125rem; } }
@media (min-width: 1280px) { .xl:px-0-25 { padding-left: 0.25rem; padding-right: 0.25rem; } }
@media (min-width: 1280px) { .xl:px-0-375 { padding-left: 0.375rem; padding-right: 0.375rem; } }
@media (min-width: 1280px) { .xl:px-0-5 { padding-left: 0.5rem; padding-right: 0.5rem; } }
@media (min-width: 1280px) { .xl:px-0-75 { padding-left: 0.75rem; padding-right: 0.75rem; } }
@media (min-width: 1280px) { .xl:px-1 { padding-left: 1rem; padding-right: 1rem; } }
@media (min-width: 1280px) { .xl:px-1-5 { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (min-width: 1280px) { .xl:px-3 { padding-left: 3rem; padding-right: 3rem; } }
@media (min-width: 1280px) { .xl:px-4 { padding-left: 4rem; padding-right: 4rem; } }
@media (min-width: 1280px) { .xl:py-0-125 { padding-top: 0.125rem; padding-bottom: 0.125rem; } }
@media (min-width: 1280px) { .xl:py-0-25 { padding-top: 0.25rem; padding-bottom: 0.25rem; } }
@media (min-width: 1280px) { .xl:py-0-375 { padding-top: 0.375rem; padding-bottom: 0.375rem; } }
@media (min-width: 1280px) { .xl:py-0-5 { padding-top: 0.5rem; padding-bottom: 0.5rem; } }
@media (min-width: 1280px) { .xl:py-0-75 { padding-top: 0.75rem; padding-bottom: 0.75rem; } }
@media (min-width: 1280px) { .xl:py-1 { padding-top: 1rem; padding-bottom: 1rem; } }
@media (min-width: 1280px) { .xl:py-1-5 { padding-top: 1.5rem; padding-bottom: 1.5rem; } }
@media (min-width: 1280px) { .xl:py-3 { padding-top: 3rem; padding-bottom: 3rem; } }
@media (min-width: 1280px) { .xl:py-4 { padding-top: 4rem; padding-bottom: 4rem; } }
@media (min-width: 1280px) { .xl:pl-0-125 { padding-left: 0.125rem; } }
@media (min-width: 1280px) { .xl:pl-0-25 { padding-left: 0.25rem; } }
@media (min-width: 1280px) { .xl:pl-0-375 { padding-left: 0.375rem; } }
@media (min-width: 1280px) { .xl:pl-0-5 { padding-left: 0.5rem; } }
@media (min-width: 1280px) { .xl:pl-0-75 { padding-left: 0.75rem; } }
@media (min-width: 1280px) { .xl:pl-1 { padding-left: 1rem; } }
@media (min-width: 1280px) { .xl:pl-1-5 { padding-left: 1.5rem; } }
@media (min-width: 1280px) { .xl:pl-3 { padding-left: 3rem; } }
@media (min-width: 1280px) { .xl:pl-4 { padding-left: 4rem; } }
@media (min-width: 1280px) { .xl:pr-0-125 { padding-right: 0.125rem; } }
@media (min-width: 1280px) { .xl:pr-0-25 { padding-right: 0.25rem; } }
@media (min-width: 1280px) { .xl:pr-0-375 { padding-right: 0.375rem; } }
@media (min-width: 1280px) { .xl:pr-0-5 { padding-right: 0.5rem; } }
@media (min-width: 1280px) { .xl:pr-0-75 { padding-right: 0.75rem; } }
@media (min-width: 1280px) { .xl:pr-1 { padding-right: 1rem; } }
@media (min-width: 1280px) { .xl:pr-1-5 { padding-right: 1.5rem; } }
@media (min-width: 1280px) { .xl:pr-3 { padding-right: 3rem; } }
@media (min-width: 1280px) { .xl:pr-4 { padding-right: 4rem; } }
@media (min-width: 1280px) { .xl:pt-0-125 { padding-top: 0.125rem; } }
@media (min-width: 1280px) { .xl:pt-0-25 { padding-top: 0.25rem; } }
@media (min-width: 1280px) { .xl:pt-0-375 { padding-top: 0.375rem; } }
@media (min-width: 1280px) { .xl:pt-0-5 { padding-top: 0.5rem; } }
@media (min-width: 1280px) { .xl:pt-0-75 { padding-top: 0.75rem; } }
@media (min-width: 1280px) { .xl:pt-1 { padding-top: 1rem; } }
@media (min-width: 1280px) { .xl:pt-1-5 { padding-top: 1.5rem; } }
@media (min-width: 1280px) { .xl:pt-3 { padding-top: 3rem; } }
@media (min-width: 1280px) { .xl:pt-4 { padding-top: 4rem; } }
@media (min-width: 1280px) { .xl:pb-0-125 { padding-bottom: 0.125rem; } }
@media (min-width: 1280px) { .xl:pb-0-25 { padding-bottom: 0.25rem; } }
@media (min-width: 1280px) { .xl:pb-0-375 { padding-bottom: 0.375rem; } }
@media (min-width: 1280px) { .xl:pb-0-5 { padding-bottom: 0.5rem; } }
@media (min-width: 1280px) { .xl:pb-0-75 { padding-bottom: 0.75rem; } }
@media (min-width: 1280px) { .xl:pb-1 { padding-bottom: 1rem; } }
@media (min-width: 1280px) { .xl:pb-1-5 { padding-bottom: 1.5rem; } }
@media (min-width: 1280px) { .xl:pb-3 { padding-bottom: 3rem; } }
@media (min-width: 1280px) { .xl:pb-4 { padding-bottom: 4rem; } }