.text-gray-100 {
  color: #f7fafc;
}
.text-gray-200 {
  color: #edf2f7;
}
.text-gray-300 {
  color: #e2e8f0;
}
.text-gray-400 {
  color: #cbd5e0;
}
.text-gray-500 {
  color: #a0aec0;
}
.text-gray-600 {
  color: #718096;
}
.text-gray-700 {
  color: #4a5568;
}
.text-gray-800 {
  color: #2d3748;
}
.text-gray-900 {
  color: #1a202c;
}
.text-zinc-100 {
  color: #f2f5f7;
}
.text-zinc-200 {
  color: #e6ebef;
}
.text-zinc-300 {
  color: #d3dce6;
}
.text-zinc-400 {
  color: #b5c0d0;
}
.text-zinc-500 {
  color: #94a3b8;
}
.text-zinc-600 {
  color: #778ca3;
}
.text-zinc-700 {
  color: #566b7a;
}
.text-zinc-800 {
  color: #3e4c59;
}
.text-zinc-900 {
  color: #273240;
}
.text-neutral-100 {
  color: #f4f4f4;
}
.text-neutral-200 {
  color: #e0e0e0;
}
.text-neutral-300 {
  color: #c6c6c6;
}
.text-neutral-400 {
  color: #a8a8a8;
}
.text-neutral-500 {
  color: #888888;
}
.text-neutral-600 {
  color: #666666;
}
.text-neutral-700 {
  color: #444444;
}
.text-neutral-800 {
  color: #2a2a2a;
}
.text-neutral-900 {
  color: #1a1a1a;
}
.text-store-100 {
  color: #fafafa;
}
.text-store-200 {
  color: #f5f5f5;
}
.text-store-300 {
  color: #e5e5e5;
}
.text-store-400 {
  color: #d4d4d4;
}
.text-store-500 {
  color: #a3a3a3;
}
.text-store-600 {
  color: #787878;
}
.text-store-700 {
  color: #525252;
}
.text-store-800 {
  color: #333333;
}
.text-store-900 {
  color: #202020;
}
.text-red-100 {
  color: #f7e0e3;
}
.text-red-200 {
  color: #fccacb;
}
.text-red-300 {
  color: #faa5a6;
}
.text-red-400 {
  color: #f87171;
}
.text-red-500 {
  color: #ef4444;
}
.text-red-600 {
  color: #dc2625;
}
.text-red-700 {
  color: #b82021;
}
.text-red-800 {
  color: #981e1f;
}
.text-red-900 {
  color: #7e1e20;
}
.text-orange-100 {
  color: #fffaf0;
}
.text-orange-200 {
  color: #feebc8;
}
.text-orange-300 {
  color: #fbd38d;
}
.text-orange-400 {
  color: #f6ad55;
}
.text-orange-500 {
  color: #ed8936;
}
.text-orange-600 {
  color: #dd6b20;
}
.text-orange-700 {
  color: #c05621;
}
.text-orange-800 {
  color: #9c4221;
}
.text-orange-900 {
  color: #7b341e;
}
.text-amber-100 {
  color: #fffbdd;
}
.text-amber-200 {
  color: #ffefc6;
}
.text-amber-300 {
  color: #ffe59e;
}
.text-amber-400 {
  color: #ffc94a;
}
.text-amber-500 {
  color: #ffab05;
}
.text-amber-600 {
  color: #ff8c00;
}
.text-amber-700 {
  color: #db7000;
}
.text-amber-800 {
  color: #b45900;
}
.text-amber-900 {
  color: #92400e;
}
.text-yellow-100 {
  color: #fffff0;
}
.text-yellow-200 {
  color: #fefcbf;
}
.text-yellow-300 {
  color: #faf089;
}
.text-yellow-400 {
  color: #f6e05e;
}
.text-yellow-500 {
  color: #ecc94b;
}
.text-yellow-600 {
  color: #d69e2e;
}
.text-yellow-700 {
  color: #b7791f;
}
.text-yellow-800 {
  color: #975a16;
}
.text-yellow-900 {
  color: #744210;
}
.text-lime-100 {
  color: #f0fff4;
}
.text-lime-200 {
  color: #c6f6d5;
}
.text-lime-300 {
  color: #9ae6b4;
}
.text-lime-400 {
  color: #68d391;
}
.text-lime-500 {
  color: #48bb78;
}
.text-lime-600 {
  color: #38a169;
}
.text-lime-700 {
  color: #2f855a;
}
.text-lime-800 {
  color: #276749;
}
.text-lime-900 {
  color: #22543d;
}
.text-green-100 {
  color: #f0fff4;
}
.text-green-200 {
  color: #c6f6d5;
}
.text-green-300 {
  color: #9ae6b4;
}
.text-green-400 {
  color: #68d391;
}
.text-green-500 {
  color: #48bb78;
}
.text-green-600 {
  color: #38a169;
}
.text-green-700 {
  color: #2f855a;
}
.text-green-800 {
  color: #276749;
}
.text-green-900 {
  color: #22543d;
}
.text-emerald-100 {
  color: #ecfdf5;
}
.text-emerald-200 {
  color: #d1fae5;
}
.text-emerald-300 {
  color: #a7f3d0;
}
.text-emerald-400 {
  color: #6ee7b7;
}
.text-emerald-500 {
  color: #34d399;
}
.text-emerald-600 {
  color: #10b981;
}
.text-emerald-700 {
  color: #059669;
}
.text-emerald-800 {
  color: #047857;
}
.text-emerald-900 {
  color: #065f46;
}
.text-teal-100 {
  color: #f0fdfa;
}
.text-teal-200 {
  color: #c6f7e2;
}
.text-teal-300 {
  color: #8eedc7;
}
.text-teal-400 {
  color: #65d6ad;
}
.text-teal-500 {
  color: #3ebd93;
}
.text-teal-600 {
  color: #27ab83;
}
.text-teal-700 {
  color: #199473;
}
.text-teal-800 {
  color: #147d64;
}
.text-teal-900 {
  color: #0c6b58;
}
.text-cyan-100 {
  color: #edfdfd;
}
.text-cyan-200 {
  color: #c4f1f9;
}
.text-cyan-300 {
  color: #9decf9;
}
.text-cyan-400 {
  color: #76e4f7;
}
.text-cyan-500 {
  color: #0bc5ea;
}
.text-cyan-600 {
  color: #00a3d8;
}
.text-cyan-700 {
  color: #0987a0;
}
.text-cyan-800 {
  color: #086f83;
}
.text-cyan-900 {
  color: #065666;
}
.text-sky-100 {
  color: #f0f9ff;
}
.text-sky-200 {
  color: #c2e0f2;
}
.text-sky-300 {
  color: #a0d8f1;
}
.text-sky-400 {
  color: #83c5f7;
}
.text-sky-500 {
  color: #3c9bb3;
}
.text-sky-600 {
  color: #3182ce;
}
.text-sky-700 {
  color: #2b6cb0;
}
.text-sky-800 {
  color: #2c5282;
}
.text-sky-900 {
  color: #2a4365;
}
.text-blue-100 {
  color: #ebf8ff;
}
.text-blue-200 {
  color: #bee3f8;
}
.text-blue-300 {
  color: #90cdf4;
}
.text-blue-400 {
  color: #63b3ed;
}
.text-blue-500 {
  color: #4299e1;
}
.text-blue-600 {
  color: #3182ce;
}
.text-blue-700 {
  color: #2b6cb0;
}
.text-blue-800 {
  color: #2c5282;
}
.text-blue-900 {
  color: #2a4365;
}
.text-indigo-100 {
  color: #ebf4ff;
}
.text-indigo-200 {
  color: #c3dafe;
}
.text-indigo-300 {
  color: #a3bffa;
}
.text-indigo-400 {
  color: #7f9cf5;
}
.text-indigo-500 {
  color: #667eea;
}
.text-indigo-600 {
  color: #5a67d8;
}
.text-indigo-700 {
  color: #4c51bf;
}
.text-indigo-800 {
  color: #434190;
}
.text-indigo-900 {
  color: #3c366b;
}
.text-violet-100 {
  color: #f5f3ff;
}
.text-violet-200 {
  color: #ddd6fe;
}
.text-violet-300 {
  color: #c4b5fd;
}
.text-violet-400 {
  color: #a78bfa;
}
.text-violet-500 {
  color: #8b5cf6;
}
.text-violet-600 {
  color: #7c3aed;
}
.text-violet-700 {
  color: #6d28d9;
}
.text-violet-800 {
  color: #5b21b6;
}
.text-violet-900 {
  color: #4c1d95;
}
.text-purple-100 {
  color: #faf5ff;
}
.text-purple-200 {
  color: #e9d8fd;
}
.text-purple-300 {
  color: #d6bcfa;
}
.text-purple-400 {
  color: #b794f4;
}
.text-purple-500 {
  color: #9f7aea;
}
.text-purple-600 {
  color: #805ad5;
}
.text-purple-700 {
  color: #6b46c1;
}
.text-purple-800 {
  color: #553c9a;
}
.text-purple-900 {
  color: #44337a;
}
.text-fuchsia-100 {
  color: #fdf4ff;
}
.text-fuchsia-200 {
  color: #fbcfe8;
}
.text-fuchsia-300 {
  color: #f9a8d4;
}
.text-fuchsia-400 {
  color: #f472b6;
}
.text-fuchsia-500 {
  color: #ec4899;
}
.text-fuchsia-600 {
  color: #db2777;
}
.text-fuchsia-700 {
  color: #be185d;
}
.text-fuchsia-800 {
  color: #9d174d;
}
.text-fuchsia-900 {
  color: #831843;
}
.text-pink-100 {
  color: #fff5f7;
}
.text-pink-200 {
  color: #fed7e2;
}
.text-pink-300 {
  color: #fbb6ce;
}
.text-pink-400 {
  color: #f687b3;
}
.text-pink-500 {
  color: #ed64a6;
}
.text-pink-600 {
  color: #d53f8c;
}
.text-pink-700 {
  color: #b83280;
}
.text-pink-800 {
  color: #97266d;
}
.text-pink-900 {
  color: #702459;
}
.text-rose-100 {
  color: #fff1f2;
}
.text-rose-200 {
  color: #fee2e2;
}
.text-rose-300 {
  color: #fecaca;
}
.text-rose-400 {
  color: #fca5a5;
}
.text-rose-500 {
  color: #f87171;
}
.text-rose-600 {
  color: #ef4444;
}
.text-rose-700 {
  color: #dc2626;
}
.text-rose-800 {
  color: #b91c1c;
}
.text-rose-900 {
  color: #991b1b;
}
