@media (min-width: 768px) {
  .static-md {
    position: static;
  }

  .relative-md {
    position: relative;
  }

  .absolute-md {
    position: absolute;
  }

  .fixed-md {
    position: fixed;
  }

  .sticky-md {
    position: sticky;
  }

  .inset-0-md {
    inset: 0px;
  }
  .inset-x-0-md {
    left: 0px;
    right: 0px;
  }
  .inset-y-0-md {
    top: 0px;
    bottom: 0px;
  }
  .start-0-md {
    inset-inline-start: 0px;
  }
  .end-0-md {
    inset-inline-end: 0px;
  }
  .top-0-md {
    top: 0px;
  }
  .right-0-md {
    right: 0px;
  }
  .bottom-0-md {
    bottom: 0px;
  }
  .left-0-md {
    left: 0px;
  }
}
