@media (min-width: 640px) {
  .block-sm {
    display: block;
  }
  .inline-block-sm {
    display: inline-block;
  }
  .inline-sm {
    display: inline;
  }
  .flex-sm {
    display: flex;
  }
  .inline-flex-sm {
    display: inline-flex;
  }
  .table-sm {
    display: table;
  }
  .inline-table-sm {
    display: inline-table;
  }
  .table-caption-sm {
    display: table-caption;
  }
  .table-cell-sm {
    display: table-cell;
  }
  .table-column-sm {
    display: table-column;
  }
  .table-column-group-sm {
    display: table-column-group;
  }
  .table-footer-group-sm {
    display: table-footer-group;
  }
  .table-header-group-sm {
    display: table-header-group;
  }
  .table-row-group-sm {
    display: table-row-group;
  }
  .table-row-sm {
    display: table-row;
  }
  .flow-root-sm {
    display: flow-root;
  }
  .grid-sm {
    display: grid;
  }
  .inline-grid-sm {
    display: inline-grid;
  }
  .contents-sm {
    display: contents;
  }
  .list-item-sm {
    display: list-item;
  }
  .hidden-sm {
    display: none;
  }
}
